.main {
  left: 0;
}

.weather {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  color: white;
  border-radius: 1rem;
  flex-direction: column;
  height: 14.65vh;
  width: 20%;
  margin-left: 2vw;
  margin-top: 3vh;
}

.cityName {
  margin: 0px;
  padding: 0px;
  height: 10%;
}

.tempInfo {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 90%;
  width: 100%;
  text-align: center;
}

.temp {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 5vh;
  font-weight: 600;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.noLocation {
  font-size: 3.5vh;
  margin: 0px;
}

.minMax {
  margin-bottom: 10px;
}

.cityInput {
  box-shadow: none;
  height: 2.5vh;
  width: 78%;
  margin-top: 2vh;
  border-radius: 0.3rem;
  font-size: 2vh;
}
.noloc {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0;
}
