* {
  font-family: Helvetica, sans-serif;
}

html,
body {
  margin: 0px;
  overflow: hidden;
}

.hideCursor {
  cursor: none;
}

.component-holder {
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* justify-content: center; */
  align-items: center;
}
